.assignmentInfo
{
   
    background-color:  #00ABB3;
   
    margin: 2rem;
     padding-left:2rem;
     padding-right:2rem ; 
   
    width: 90%;
    height: 10em;
    box-shadow: 0px 13px 10px rgb(134, 131, 131);
    text-align: center;
}
.assignmentName
{
    font-size: 1.5em;
    font-weight: bold;
    margin: 2em;
    padding: 1em;
}
.assignmentLink
{
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(21, 131, 114);
    margin: 2em;
    padding: 1em;
    margin-top:10em ;
    padding-top: 5em;

}

